.btns {
    display: flex;
    align-items: center;
    justify-content: center;


}

.input{
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
}

.title {
    margin-left: 650px;
    margin-bottom: 24px;
}


.btn {
    margin-bottom: 80px;
    margin-left: 120px;
}
