.main {
    display: flex;
    justify-content: space-around;
    justify-items: center;
    margin-top: 20px;
}
.title {
    margin-left: 50px;
}
.page {
    margin: 0 auto;
    max-width: 1480px;
}

.burger {
    display: flex;
    justify-content: space-around;
    justify-items: center;
}
