.header {
    display: flex;
    justify-content: space-between;
    margin-top: 32px;
    margin-bottom: 32px;
    margin-left: 50px;
    align-items: center;

}
.item {
    display: flex;
    align-items: center;
}
.items {
    display: flex;
    align-items: center;
}
