.header {
    display: flex;
    justify-content: space-between;
    margin-top: 32px;
    margin-bottom: 32px;
    margin-left: 120px;
    margin-right: 120px;
    align-items: center;
    min-width: 1260px;


}
.item {
    display: flex;
    align-items: center;
}
.items {
    display: flex;
    align-items: center;
}

.menuLink {
    color: #F2F2F3;
}

.menuLink_inactive {
    color: #8585AD;
}
